<div class="top-bar-logo">
  {{svg-jar "logo" width="180" height="50"}}
</div>

<div class="top-bar-actions">

  {{#link-to 'application' class="top-bar-actions-button w-clearfix w-inline-block"}}
    <div class="top-bar-actoins-button-text">Home</div>
  {{/link-to}}

</div>
